body{
    font-family: Verdana, Geneva, sans-serif;
    
}

a:link {
	color: #003399;
	text-decoration: none;
	
}

a:visited {
	color: #003399;
	text-decoration: none;

}

a:hover {
	color: #003399;
	text-decoration: none;
	
}

a:active {
	color: #003399;
	text-decoration: none;

}

.wrapper{
	position: relative;
	width: 810px; 
	margin: 0 auto;

}

.logo{
    width: 800px;
    height: 110px;
    background-image: url('../img/logo_screen.jpg');
    background-repeat: no-repeat;
    
}

.search{
	width: 800px;

}

.result{
	width: 300px;

}

#searchfield{
	width: 230px;
	
}

#searchbutton{
	width: 65px;

}

#address{
	color: #003399;

}

#price{
	margin-top: 8px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 20px;

}
